@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));

    --color-chart-1: hsl(var(--chart-1));
    --color-chart-2: hsl(var(--chart-2));
    --color-chart-3: hsl(var(--chart-3));
    --color-chart-4: hsl(var(--chart-4));
    --color-chart-5: hsl(var(--chart-5));

    --color-sidebar: hsl(var(--sidebar-background));
    --color-sidebar-foreground: hsl(var(--sidebar-foreground));
    --color-sidebar-primary: hsl(var(--sidebar-primary));
    --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
    --color-sidebar-accent: hsl(var(--sidebar-accent));
    --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
    --color-sidebar-border: hsl(var(--sidebar-border));
    --color-sidebar-ring: hsl(var(--sidebar-ring));

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }
    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    body {
        font-family: Geist, Helvetica, sans-serif;
    }
}

@layer base {
    :root {
        --background: 0 0% 98%;
        --foreground: 0 8% 5%;

        --card: 0 8% 97%;
        --card-foreground: 0 8% 5%;

        --popover: 0 8% 97%;
        --popover-foreground: 0 8% 5%;

        --primary: 356 58% 34%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 6% 93%;
        --secondary-foreground: 0 8% 5%;

        --muted: 0 6% 93%;
        --muted-foreground: 356 6% 45%;

        --accent: 0 6% 93%;
        --accent-foreground: 0 8% 5%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 6% 90%;
        --input: 350 7% 82%;
        --ring: 356 24% 74%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 60 3% 6%;
        --foreground: 0 0% 98%;

        --card: 60 6% 7%;
        --card-foreground: 0 0% 98%;

        --popover: 60 6% 7%;
        --popover-foreground: 0 0% 98%;

        --primary: 47 91% 55%;
        --primary-foreground: 0 0% 2%;

        --secondary: 45 5% 15%;
        --secondary-foreground: 0 0% 98%;

        --muted: 50 5% 22%;
        --muted-foreground: 45 5% 49%;

        --accent: 47 45% 14%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;

        --border: 40 5% 12%;
        --input: 45 4% 18%;
        --ring: 47 91% 40%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
